@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

//-------Mixins-------
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin smooth-shadow {
  box-shadow: 0 1.9px 2.2px rgba(0, 0, 0, 0.006),
    0 4.6px 5.3px rgba(0, 0, 0, 0.008), 0 8.6px 9.9px rgba(0, 0, 0, 0.01),
    0 15.4px 17.6px rgba(0, 0, 0, 0.012), 0 28.8px 33px rgba(0, 0, 0, 0.014),
    0 69px 30px rgba(0, 0, 0, 0.02);
}
//-------Variables----------
$primary-color: #407bff;
$npc: #1d19f2;
$light-color: #d6f7ff;
$white: #fff;
$ash: #dbdbdb;
$snow: #f6f6fe;
$black: #333333;
$fade-black: #5f5f5f;
//-------universal stylings-------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}
.center {
  @include flex-center();
}
button {
  border: none;
  outline: none;
  transition: all 0.5s ease;
  padding: 0.3em 1em;
  border-radius: 17px;
  cursor: pointer;
  @include align-center();
  &:focus {
    outline: none !important;
    border: none;
  }
}
button.btn1 {
  background-color: $primary-color;
  color: $white;
  border: 2px solid $white;
  font-weight: bold;
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
  &.active {
    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}
button.btn2 {
  background-color: $white;
  color: $primary-color;
  font-weight: bold;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}
.btn-container {
  @include flex-center();
  button {
    margin: auto 0.2em;
  }
}
.icon {
  margin: 0 0.2em;
}
//
.nav-container {
  width: 100%;
  position: fixed;
  top: 2%;
  background-color: transparent;
  z-index: 99;
  .my-navbar {
    width: 60%;
    border: 1px solid $ash;
    border-radius: 25px;
    background-color: $white;
    @include smooth-shadow();
    margin: auto;
    padding: 0.2em 1em;

    .navbar-brand {
      color: $black;
      font-weight: bold;
    }
  }
}

//-------Page stylings-------
// landing page
.landing-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  @include flex-center();
  background-image: $white;
  .content {
    height: 100%;
    padding-top: 5em;
    header {
      h6 {
        color: $fade-black;
        font-size: 1.2em;
      }
      h1 {
        font-size: 3em;
        margin: 0.2em 0;
        span {
          color: $primary-color;
          font-weight: bold;
        }
      }
      .btn-wrapper {
        margin-top: 2em;
        display: flex;
        button {
          background-color: $primary-color;
          color: $white;
          border-radius: 25px;
          font-size: 1.2em;
          box-shadow: 5px 5px 20px #407cff7a;
          .icon {
            margin-left: 0.5em;
          }
          &.play {
            margin-left: 1em;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            @include flex-center();
            box-shadow: 0 0 0 5px #407cff75;
            animation: pop 1s infinite 0s linear;
          }
          &:hover {
            .icon {
              animation: floatRight 1s infinite 0s linear;
            }
          }
        }
      }
    }
  }
  .image-container {
    text-align: center;
  }
  .svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .bolb1 {
    width: 400px;
    position: absolute;
    top: -15%;
    left: -8%;
  }
}
//keyframes
@keyframes floatRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
//intro
.intro-slide {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  // background-color: $ash;
  .slide,
  .carousel-inner,
  .carousel-item,
  .carousel-img {
    height: 80vh !important;
  }
  .carousel-caption {
    height: auto;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    border: 1px solid $primary-color;
    background-color: $white;
  }
  .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: $primary-color;
  }
  img {
    width: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  h3 {
    color: $black;
    font-weight: bold;
  }
  .caption {
    color: $fade-black;
    margin-bottom: 1em;
  }
  button {
    width: 130px;
    @include flex-center();
  }
}
//user
.user-selection {
  min-height: 100vh;
  width: 100%;
  background-image: $white;
  text-align: center;
  .top {
    background-color: $primary-color;
    position: relative;
    height: 30vh;
    header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      h1,
      p {
        color: $white;
      }
    }
  }

  .or {
    background-color: $primary-color;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #407cff75;
    @include flex-center();
    h4 {
      color: $white;
      margin: 0;
    }
  }
  header {
    margin-bottom: 2em;
    h1 {
      color: $primary-color;
    }
    p {
      color: $fade-black;
    }
  }
  .container {
    width: 100%;
    margin-top: 1em;
    text-align: center;
    .card {
      background-color: rgb(248, 248, 248);
      border: 2px solid rgba(199, 199, 199, 0.774);
      border-radius: 17px;
      padding: 0.5em;
      cursor: pointer;
      h4 {
        color: rgb(141, 141, 141);
      }
      &:hover,
      &.active {
        border: 2px solid $primary-color;
        background-color: #74c4e985 !important;
        h4 {
          color: $primary-color;
        }
      }
    }
    .tip {
      color: $fade-black;
    }
    button {
      margin-top: 0.3em;
      font-weight: bold;
    }
    img {
      width: 80%;
      margin: auto;
    }
  }
}
//clock
.clock-container {
  @include flex-center();
  p {
    margin: 0 0.5em;
    font-weight: bold;
  }
}
//login card
.login-card {
  width: 300px;
  background-color: #fff;
  padding: 0.5em;
}
//doctor panel
.doctor-login-panel {
  min-height: 100vh;
  background-color: $primary-color;
  padding: 2em 0;
  @include flex-center();
  header {
    margin-bottom: 2em;
    text-align: center;
    h1 {
      color: $white;
      img {
        margin-left: 0.3em;
      }
    }
    p {
      display: inline-block;
      width: auto;
      padding: 0.2em 1em;
      border-radius: 25px;
      background-color: $white;
      color: $fade-black;
      font-weight: bold;
    }
  }
  .login-card {
    margin: auto;
    width: 350px;
    padding: 1em;
    figure {
      height: 130px;
      width: 130px;
      background-color: $light-color;
      border-radius: 50%;
      margin: 1em auto;
      img {
        width: 130px;
      }
    }
    button {
      margin-right: 1em;
    }
  }
}
.back-btn {
  background-color: #fff;
  color: $primary-color;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid $primary-color;
  @include flex-center();
  position: absolute;
  bottom: 2%;
  left: 1%;
  position: fixed;
  transition: all 0.5s ease;
  &:hover {
    background-color: $primary-color;
    color: $ash;
    border: 2px solid $white;
  }
}
.doctor-main-panel {
  padding-top: 100px;
}
.doctor-header {
  width: 95%;
  margin: 2em auto;
  .doctor-info {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    padding: 1em;
    border-radius: 18px;
    .image {
      height: 100%;
      background-color: $primary-color;
      background-size: cover;
      background-position: center;
    }
    .content {
      padding-left: 1em;
      h4 {
        color: $black;
        span {
          font-weight: bold;
          color: $primary-color;
        }
      }
    }
  }
  .call {
    height: 100%;
    padding: 1em;
    text-align: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 18px;
    img {
      width: 50%;
      margin-bottom: 1.5em;
      transition: all 0.5s ease;
    }
    button {
      width: 100%;
      @include flex-center();
    }
    &:hover {
      img,
      button {
        transform: scale(0.9);
      }
    }
  }
  .calender {
    height: 100%;
    padding: 1em;
    text-align: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 18px;
    img {
      width: 30%;
      margin-bottom: 0.5em;
      transition: all 0.5s ease;
    }
    p {
      margin: 0;
      font-weight: bold;
      background-color: $primary-color;
      color: $white;
    }
  }
}
.patient-info {
  width: 95%;
  margin: auto;
  padding-top: 1em;
  header {
    @include flex-between();
    margin-bottom: 1em;
    .content {
      .heading {
        color: $primary-color;
      }
      .desc {
        color: $fade-black;
        margin: 0;
      }
    }
    .refresh {
      button {
        margin: auto;
        margin-bottom: 0.5em;
      }
      p {
        margin: 0;
        color: $fade-black;
      }
    }
    .btn-wrapper {
      @include flex-center();
      button {
        width: 150px;
        font-size: 1.2em;
        border: 1px solid $primary-color;
        background-color: transparent;
        border-radius: 25px 0 0 25px;
        &.bt2 {
          border-radius: 0 25px 25px 0;
        }
        &:hover {
          background-color: $light-color;
          color: $primary-color;
        }
        &.active {
          background-color: $light-color;
          color: $primary-color;
        }
      }
    }
  }
}
.patient-info-card {
  border-radius: 9px;
  padding: 0.8em;
  margin-bottom: 0.6em;
  p {
    margin-bottom: 0.2em;
  }
  .tag-container {
    margin: 0.5em 0;
    display: flex;
    span {
      background-color: $white;
      margin-right: 0.3em;
      padding: 0.2em 1.3em;
      font-size: 13px;
      @include align-center();
      border-radius: 3px;
      color: #6e6e6e;
      font-weight: bold;
      .icon {
        margin: 0 0.2em 0 0;
        padding: 0;
      }
    }
  }
}
.medical-info {
  width: 95%;
  margin: auto;
  border: 2px solid $primary-color;
  background-color: #598eff;
  border-radius: 18px;
  padding: 1em;
  text-align: center;
  h6 {
    text-align: left;
    font-weight: bold;
    color: $white;
    @include align-center();
    .icon {
      margin-left: 0.32em;
    }
  }
  img {
    width: 100px;
    margin-bottom: 0.5em;
  }
  h2 {
    color: $white;
  }
  h5 {
    display: inline-block;
    background-color: $white;
    padding: 0.2em 1em;
    color: $primary-color;
    border-radius: 25px;
  }
}
.availability-card-container {
  padding: 1em 0.5em;
  h3 {
    color: $primary-color;
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
  }
  .card {
    margin-bottom: 0.2em;
    border: none;
    .card-inner {
      background-color: $light-color;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: auto;
      border: none;
      @include flex-center();
      text-align: center;
      img {
        width: 50px;
        margin-bottom: 0.3em;
      }
    }
  }
}
.patient-modal {
  width: 100%;
  .info {
    display: flex;
    padding: 0.3em;
    border: 3px solid $light-color;
    padding: 0.5em;
    img {
      width: 200px;
      margin-right: 1em;
    }
    p {
      margin: 0;
    }
    .imp-info {
      width: 500px;
      padding: 0.2em;
      background-color: rgba(255, 255, 0, 0.137);
      border: 1px solid orange;
    }
  }
  .saline {
    height: 400px;
    position: relative;
    .msg {
      position: absolute;
      bottom: 2%;
      right: 5%;
      h1 {
        font-size: 5em;
        font-weight: bold;
        color: $primary-color;
      }
    }
    .indications {
      .indication {
        display: flex;
        align-items: center;
      }
      .ind-msg {
        color: #000;
      }
      position: absolute;
      left: 1%;
      p {
        margin: 0 1em;
      }
      .hr {
        height: 1px;
        width: 400px;
      }
    }
    .ind1 {
      top: 25%;
      color: green;
      .hr {
        border: 1px solid green;
        width: 300px;
      }
    }
    .ind2 {
      top: 40%;
      color: violet;
      .hr {
        border: 1px solid violet;
        width: 320px;
      }
    }
    .ind3 {
      top: 65%;
      color: orange;
      .hr {
        border: 1px solid orange;
        width: 280px;
      }
    }
    .ind4 {
      top: 85%;
      color: red;
      .hr {
        border: 1px solid red;
        width: 300px;
      }
    }
    .demo-img {
      position: absolute;
      top: 1%;
      right: 1%;
      width: 80px;
    }
    .wave {
      height: 400px;
      mask-image: url('../assets/infusion.png');
      mask-size: 512px 480px;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }
}
.patient-saline {
  width: 80%;
  margin: 1em auto;
}
.patient-header {
  width: 90%;
  border: 2px solid $primary-color;
  background-color: $light-color;
  border-radius: 17px;
  padding: 1em;
  margin: auto;
  text-align: center;
  figure {
    height: 150px;
    width: 150px;
    margin: auto;
    background-image: url('../assets//patient1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  h5 {
    @include flex-center();
    .icon {
      margin-left: 0.3em;
    }
  }
  .imp-info {
    background-color: rgba(255, 255, 0, 0.507);
    border: 1px solid orange;
    margin-bottom: 1em;
    p {
      margin: 0;
    }
  }
  button {
    margin: 0.2em 1em;
    width: 190px;
    @include flex-center();
    .icon {
      margin-right: 0.2em;
    }
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  backdrop-filter: blur(3px);
  @include flex-center();
  z-index: 99999;
}
.general-modal {
  background-color: #fff;
  min-width: 800px;
  h3 {
    margin: 0;
    padding: 0.5em;
    @include flex-between();
    font-size: 1.3em;
  }
  .modal-content {
    padding: 1em 0;
    text-align: center;
    .btn-container {
      button {
        min-width: 120px;
        margin: 0 0.3em;
        border: none;
        border: 1px solid #0894da;
        background-color: transparent;
        color: #0894da;
        &:hover {
          background-color: #0894da;
          color: #fff;
        }
      }
    }
  }
}
.danger-alert-modal {
  img {
    width: 30%;
    margin: auto;
    margin-bottom: 1em;
  }
}
