@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
//-------Variables-------
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$primary-color: #75d0ff;
$light-color: #d6f7ff;
//-------universal stylings-------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.btn {
  background-color: $primary-color !important;
  color: #fff !important;
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0.3em 0;
  box-shadow: 6px 6px 12px #b6d2d9, -6px -6px 12px #f6ffff;
  border: none;
  cursor: pointer;
  border-radius: 17px;
}
.center {
  @include center();
}
//-------Page stylings-------
// landing page
.landing-page {
  @include center();
  min-height: 92vh;
  width: 100%;
  // background-image: url('../assets/bg2.jpg');
  // background-size: cover;
  background-color: $light-color;
  .container {
    width: 80%;
    text-align: center;
    z-index: 999;
    img {
      width: 35%;
      margin-bottom: 0.5em;
    }
    .btn {
      margin-top: 1em;
      box-shadow: none;
    }
  }
}
.wave-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
//intro
.intro-slide {
  min-height: 100vh;
  background-image: url('../assets/bg1.jpg');
  background-size: cover;
  width: 100%;
  .slide,
  .carousel-inner,
  .carousel-item,
  .carousel-img {
    height: 70vh !important;
  }
  .carousel-caption {
    height: auto;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: $light-color;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: $primary-color;
  }

  // .carousel-control-next-icon:after {
  //   content: '>';
  //   font-size: 25px;
  //   color: $primary-color;
  // }
  // .carousel-control-prev-icon:after {
  //   content: '<';
  //   font-size: 25px;
  //   color: $primary-color;
  // }
  img {
    width: 20%;
    margin: auto !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  .caption {
    color: #000;
  }
  .btn {
    min-width: 100px;
    margin: 0 0.5em;
  }
}
//user
.user-selection {
  min-height: 92vh;
  width: 100%;
  padding: 2em 0;
  text-align: center;

  header {
    margin-bottom: 2em;
    h1 {
      span {
        color: $primary-color;
      }
    }
  }
  .container {
    width: 100%;
    text-align: center;
    z-index: 9999;
    .card {
      background-color: $light-color;
      border-radius: 17px;
      padding: 0.5em;
      cursor: pointer;
    }
    .btn {
      width: 100px;
      z-index: 999999;
    }
    img {
      width: 80%;
      margin: auto;
    }
  }
}
//clock
.clock-container {
  @include center();
  p {
    margin: 0 0.5em;
  }
}
//login card
.login-card {
  width: 300px;
  background-color: #fff;
  padding: 0.5em;
}
//doctor panel
.doctor-panel {
  min-height: 92vh;
  background-color: $light-color;
  padding: 2em 0;
  header {
    margin-bottom: 2em;
    text-align: center;
    h1 {
      span {
        color: $primary-color;
      }
    }
  }
  .login-card {
    margin: auto;
    figure {
      height: 130px;
      width: 130px;
      background-color: $light-color;
      border-radius: 50%;
      margin: 1em auto;
      img {
        width: 130px;
      }
    }
    button {
      margin-right: 1em;
    }
  }
}
.back-btn {
  background-color: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #000;
  @include center();
  position: absolute;
  bottom: 2%;
  left: 1%;
  position: fixed;
}
.doctor-header {
  background-color: $light-color;
  padding: 1em;
  width: 95%;
  border-radius: 17px;
  margin: 1em auto;
  display: flex;
  align-items: center;
  figure {
    height: 400px;
    width: 400px;
    margin: 0 1em;
    height: min-content;
    img {
      width: 100%;
      border-radius: 17px;
    }
  }
  button {
    box-shadow: none;
  }
}
.medical-info2 {
  padding: 1em;
  h3 {
    padding: 0.2em;
    background-color: $light-color;
  }
  .img-container {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.233),
        rgba(0, 0, 0, 0.233)
      ),
      url('../assets//medical.jpg');
    background-position: center;
    background-size: cover;
    @include center();
    h2,
    h5 {
      color: #fff;
      width: 100%;
      text-align: center;
    }
  }
}
.medical-info {
  width: 90%;
  margin: auto;
  border: 1px solid $primary-color;
  border-radius: 17px;
  padding: 1em;
  text-align: center;
  h6 {
    text-align: left;
    display: flex;
    align-items: center;
    .icon {
      margin-left: 0.32em;
    }
  }
  img {
    width: 100px;
    margin-bottom: 0.5em;
  }
  h2 {
    color: $primary-color;
  }
}
.availability-card-container {
  padding: 1em 0.5em;
  h3 {
    color: $primary-color;
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
  }
  .card {
    margin-bottom: 0.2em;
    border: none;
    .card-inner {
      background-color: $light-color;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: auto;
      border: none;
      @include center();
      text-align: center;
      img {
        width: 50px;
        margin-bottom: 0.3em;
      }
    }
  }
}
.patient-modal {
  width: 100%;
  .info {
    display: flex;
    padding: 0.3em;
    border: 3px solid $light-color;
    padding: 0.5em;
    img {
      width: 200px;
      margin-right: 1em;
    }
    p {
      margin: 0;
    }
    .imp-info {
      width: 500px;
      padding: 0.2em;
      background-color: rgba(255, 255, 0, 0.137);
      border: 1px solid orange;
    }
  }
  .saline {
    height: 400px;
    position: relative;
    .msg {
      position: absolute;
      bottom: 2%;
      right: 5%;
      h1 {
        font-size: 5em;
        font-weight: bold;
        color: $primary-color;
      }
    }
    .indications {
      .indication {
        display: flex;
        align-items: center;
      }
      .ind-msg {
        color: #000;
      }
      position: absolute;
      left: 1%;
      p {
        margin: 0 1em;
      }
      .hr {
        height: 1px;
        width: 400px;
      }
    }
    .ind1 {
      top: 25%;
      color: green;
      .hr {
        border: 1px solid green;
        width: 300px;
      }
    }
    .ind2 {
      top: 40%;
      color: violet;
      .hr {
        border: 1px solid violet;
      }
    }
    .ind3 {
      top: 65%;
      color: orange;
      .hr {
        border: 1px solid orange;
      }
    }
    .ind4 {
      top: 85%;
      color: red;
      .hr {
        border: 1px solid red;
      }
    }
    .demo-img {
      position: absolute;
      top: 1%;
      right: 1%;
      width: 80px;
    }
    .wave {
      height: 400px;
      mask-image: url('../assets/infusion.png');
      mask-size: 512px 480px;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }
}
.patient-saline {
  width: 80%;
  margin: 1em auto;
}
.patient-header {
  width: 90%;
  border: 2px solid $primary-color;
  background-color: $light-color;
  border-radius: 17px;
  padding: 1em;
  margin: auto;
  text-align: center;
  figure {
    height: 150px;
    width: 150px;
    margin: auto;
    background-image: url('../assets//patient1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  h5 {
    @include center();
    .icon {
      margin-left: 0.3em;
    }
  }
  .imp-info {
    background-color: rgba(255, 255, 0, 0.507);
    border: 1px solid orange;
    margin-bottom: 1em;
    p {
      margin: 0;
    }
  }
  button {
    margin: 0.2em 1em;
    width: 190px;
    @include center();
    .icon {
      margin-right: 0.2em;
    }
  }
}
